<!DOCTYPE html>
<html>
    <head>
        <title>.:Babymon:. Login</title> 
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="icon" type="image/png" href="/img/icon.png">
        
        </script>
    </head>
    <body>
        <form method="POST" action="/web/login">
            <div class="login__bg">

            <div class="login__box">

                <div class="login__box--label-email">
                    <label for="email">Email</label>
                </div>
                <div class="login__box--field-email">
                    <input type="email" name="email" id="email" placeholder="email" required autocomplete="off">
                </div>
                <div class="login__box--label-password">
                    <label for="password">Password</label>
                </div>
                <div class="login__box--field-password">
                    <input type="password" name="password" id="password" placeholder="password" required>
                </div>

                <div class="login__box--label-buttons">
                    &nbsp;
                </div>
                <div class="login__box--field-buttons">
                    <input type="reset" value="Clear"/>
                    <input type="submit" value="Submit" />
                </div>

            </div>
            <br>Don't have an account? <a href="/web/register">register</a>
            {{message}}
        </form>        
    </body>
</html>